<div class="collections">
  <% if authenticated? %>
    <h2><%= link_to "New Collection", new_collection_path %></h2>
    <hr/>
  <% end %>
  <% @all_collections.each do |collection| %>
	  <div  class="collections-list"><h2><%= link_to collection.title, posts_collections_path(collection_id: collection.id), class: "square" %></h2></div>
    <% if authenticated? %><%= link_to "edit", edit_collection_path(collection.id) %> | <%= link_to "delete", collection_path(collection.id), method: :delete %><% end %>
  <% end %>
</div>