/* quick reset */
*{box-sizing: border-box; margin: 0; padding: 0}
body, html{height: 100%;}

/* variables */

$text: #292929;
$ahover: #888;
$nav-arrows: #CCC;
$nav-arrows-hover: #EEE;

/* global styles */
body {
  width: 1200px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: $text;
}

.clear {
  clear: both;
}

/* nav stuff */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  line-height: 50px;
  padding: 30px;
  font-size: 2em;
}

nav a {
  text-decoration: none;
  color: $text;
  transition: all 0.3s;
}

nav a:hover {
  color: $ahover;
}

/* container */
.container {
  clear: both;
  padding: 0 30px;
}

/* thumbnails */
.thumbnail {
  float: left;
  height: 250px;
  width: 250px;
  margin: 0 10px 10px 0;
  transition: all 0.3s;
}

.thumbnail:hover {
  opacity: 0.8;
}

/* show */

.show {
  text-align: center;
}

.nav-arrows {
  font-size: 100px;
  color: $nav-arrows;
}

.nav-arrows, .show img {
  vertical-align: middle;
}

.nav-arrows a {
  text-decoration: none;
  color: $nav-arrows;
  transition: all 0.3s;
}

.nav-arrows a:hover {
  color: $nav-arrows-hover;
}

/* html {
  background-color: #333;
  height: 100%;
}

body {
  background-color: #555;
  font-family: 'Roboto', sans-serif;
  width: 992px;
  margin: 0 auto;
  min-height: 100%;
 }

body, h1, h2, h3, a, p {
  color: #DDD;
}

a:hover {
  color: #FFF;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  line-height: 50px;
  border-bottom: 3px solid #333;
}

nav li:last-child {
  border-right: 3px solid #333;
}

nav a {
  display: block;
  padding: 12px;
  height: 50px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 1.45em;
}

nav a:hover {
  background-color: #555;
}

nav .title {
  font-size: 1.5em;
}

.container {
  padding: 1px 50px;
  clear: both;
}

.thumbnail-container {
  padding: 20px;
}

.widget {
  float: left;
  margin: 0 15px 28px;
}

.thumbnail {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;
  border: 2px solid #333;
}

.thumbnail img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.thumbnail:hover img {
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.show {
  text-align: center;
}

form p {
  line-height: 0;
}

.text-input, .btn {
  padding: 8px;
} */